.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 100vh;
}

.container>* {
  border: 1px solid black;
}
.sideNav{
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.userName{
  vertical-align: middle;
}
.sideNav ul {
  list-style-type: none;
  padding: 0;
}
.navItem{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 5px;
  cursor:pointer;
}
.navItem:hover .image{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}
.navItem p{
  font-size: 15px;
}

.image {
  display: inline-block;
  background: url('./pfp.svg') center;
  background-size: contain;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.group{
  background: url('https://static.xx.fbcdn.net/rsrc.php/v4/yw/r/-GSeaf19sqF.png?_nc_eui2=AeFjbuF4ZyCGpmblTkCcONSdCR5jHNvbVS0JHmMc29tVLZPfXQc_sHRQoZT5LBkjVLWtS99KKDJxDzJUfyMN5pTD&quot');
  background-position: 0px -37px;
  background-size: auto;
}

.post{
  margin-bottom: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.post .postHeader{
}

.post .postBody{
}

.post .postFooter{
}


@media only screen and (max-width: 900px) {

  .title {
    margin-top: 0;
  }

  .basicInfo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .profileHeader {
    width: 95%;
  }

}