@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #1877F2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container for logo and icons */
.nav-center {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--bg-color);
    text-transform: uppercase;
    font-family: var(--font-family-2);
}

.logo span {
    font-family: 'Poppins', sans-serif; /* Example bold font */
    font-weight: bold;
    color: var(--bg-color);
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 8px;
    background: transparent;
    font-size: 14px;
    flex: 1;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons svg {
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.icons svg:hover {
    color: var(--bg-color);
}

/* Profile Image */
nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid var(--bg-color);
}

.nav-image {
    width: 200px;  /* Uguale a nav img */
    height: 10px; /* Uguale a nav img */
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .search-container {
        width: 100%;
        margin: 10px 0;
    }

    .search-container input {
        width: 100%;
    }

    .nav-center {
        flex-direction: column;
        gap: 10px;
    }

    .icons {
        justify-content: center;
        width: 100%;
    }
}
